HELP.md
# ---- Build ----
target/
build/
out/

# ---- Maven Wrapper ----
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# ---- Logs ----
*.log

# ---- Compiled files ----
*.class

# ---- IntelliJ ----
.idea/
*.iml
*.iws

# ---- Eclipse ----
.settings/
.classpath
.project

# ---- VSCode ----
.vscode/

# ---- OS ----
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini

# Linux
*~

# ---- Others ----
/*.swp
